/*small 576*/
@media screen and (min-width: 576px) {
    .p-container {
        max-width: 500px;
    }
}

/*medium 768*/
@media screen and (min-width: 768px) {
    .p-container {
        max-width: 670px;
    }
}

/*large 992*/
@media screen and (min-width: 992px) {
    .p-container {
        max-width: 900px;
    }
}

/*X-Large 1200*/
@media screen and (min-width: 1200px) {
    .p-container {
        max-width: 1070px;
    }
}

/*XX-Large 1400*/
@media screen and (min-width: 1400px) {
    .p-container {
        max-width: 1240px;
    }
}