/*To remove*/
body * {
    color: white;
}

/* Generics */
img {
    width: 100%;
}

/* NavBar*/
#topbar a {
    color: white;
}

.b-c-white {
    border-color: white;
}

/*Utils*/
.starh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-star {
    border: 2px solid #2C3E50;
    width: 10%;
    max-width: 130px;
    border-radius: 5px;
}

/*BG Colors*/
.bg-l-black {
    background-color: #2C3E50;
}

.bg-wgreen {
    background-color: #1ABC9C;
}

.bg-h-gray {
    background-color: #3A546D;
}

/*Color*/
.f-l-black {
    color: #2C3E50;
}

/*Main*/
#jumbotron img {
    width: 250px;
}

/*Portfolio*/
#portfolio img {
    margin: 12px 0;
    border-radius: 10px;
}

/*Contact*/
#contact .form-control {
    border-width: 0 0 1px 0;
    border-color: #CCCCCC;
    border-radius: 0;
    padding-left: 0;
}

#contact ::placeholder {
    color: #2C3E50;
    font-weight: 500;
}

/*Footer*/

/*info*/
#info {
    min-height: 300px;
}

/*Copyright*/
#copyright {
    border: 3px solid #2C3E50;
    height: 80px;
}