/*To remove*/
body * {
    color: white;
}

/* Generics */
footer {
    min-height: 400px;
}

img {
    width: 100%;
}

/* NavBar*/
#topbar a {
    color: white;
}

.b-c-white {
    border-color: white;
}

/*Utils*/
.starh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-star {
    border: 2px solid #2C3E50;
    width: 10%;
    max-width: 130px;
    border-radius: 5px;
}

/*BG Colors*/
.bg-l-black {
    background-color: #2C3E50;
}

.bg-wgreen {
    background-color: #1ABC9C;
}

/*Color*/
.f-l-black {
    color: #2C3E50;
}

/*header*/

/*Main*/
#jumbotron img {
    width: 250px;
}

/*Gallery*/
#portfolio {
    min-height: 400px;
}

/*About*/
#about {
    border: 3px solid #1ABC9C;
    min-height: 500px;
}

/*Contact*/
#contact .form-control {
    border-width: 0 0 1px 0;
    border-color: #CCCCCC;
    border-radius: 0;
    padding-left: 0;
}

#contact ::placeholder {
    color: #2C3E50;
    font-weight: 500;
}

/*Footer*/

/*info*/
#info {
    border: 3px solid #3A546D;
    min-height: 300px;
}

/*Copyright*/
.copyright {
    border: 3px solid #2C3E50;
    min-height: 100px;
}